<!Doctype html>
<html lang="en">
  <head>
  	<title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="../../static/css/login.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(../../static/images/loginbg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Register</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h6 class="mb-4 text-center">Have an account? <a href="/auth/login">Login Here</a></h6>
		      	<form action="/auth/register/" method="POST" class="signin-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name" name="fname" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name" name="lname" required>
                    </div>
		      		<div class="form-group">
		      			<input type="email" class="form-control" placeholder="Email" name="email" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" name="password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Register</button>
	            </div>
	          </form>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="../../static/js/jquery.min.js"></script>
  <script src="../../static/js/popper.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/login.js"></script>

	</body>
</html>